body{

    color: white;
    background-color: black;
}

.newPost__input{
    height: 20px;
    width: 200px;
}

.newDesc__input{

height: 200px;
width: 400px;
}

.titleBox{

    display: flex;
    justify-content: center;
}


.conceptBox{

    display: flex;
    justify-content: center;
}

.descBox{

    display: flex;
    justify-content: center;
}

.postList{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.post{
    margin: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 200px;
    padding: 30px;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-bottom: 1px solid lightblue;
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}

.footer__item {
    margin: 0 1rem;
}

.post__timestamp{

    font-size: 10px;
}

.post__description{


    border: solid black;
    border-radius: 10px;
    padding: 10px;
}

.button_pos{

    display: flex;
    justify-content: center;  
}

#newPost__submit{

    width: 50px;
}

#newPost__cancel{
    
    width: 70px;
}