body{

    color: white;
    background-color: black;
}

.newPost__input{
    height: 10px;
    width: 100px;
}

.newDesc__input{

height: 100px;
width: 300px;
}


.postList{
display: flex;
flex-direction: column;
justify-content: center;
}

.post{
    margin: 30px;
    background-color: white;
    color: black;
    border: solid 5px greenyellow;
    width: 200px;
    padding: 30px;
}

